<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GrouponDesktop.Properties.Settings.GD2C2012" connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD2C2012;Persist Security Info=True;User ID=gd;Password=gd2012"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="fecha" value="2012-12-7"/> <!-- IMPORTANTE: FORMATO AAAA-MM-DD -->
    <add key="dbuser" value="gd"/>
    <add key="dbpasswd" value="gd2012"/>
    <add key="dbname" value="GD2C2012"/>
    <add key="dburl" value = "localhost\SQLSERVER2008"/>
  </appSettings>
</configuration>

